counfluent_cloud_region = ""
vpc_region = ""
cidr = ""
aws_account_id = ""
transit_gateway_id = ""
confluent_cloud_api_key = ""
confluent_cloud_api_secret = ""
resource_identifier = ""
vpc_cidr = ""
vpc_region = ""
cloud_service_provider = ""
