confluent_cloud_api_key = ""
confluent_cloud_api_secret = ""
vpc_region = ""
resource_identifier = ""
counfluent_cloud_region = ""
confluent_cloud_cidr = ""
cloud_service_provider = ""
aws_account_id = ""
vpc_cidr = ""
